target/
lib/
test-output/
infinitest.filters

# Fichiers idea #
#################
.idea/
*.iml
*.ipr
*.iws
*.ids

# Fichiers eclipse #
####################
*.prefs
.classpath
.project

# Fichiers OS #
###############
.DS_Store
.DS_Store/
*.db
*.log
*.~lock.*
*.log.lck

# Gradle #
##########
.gradle
.gradle/
